[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pylint = "*"

[requires]
python_version = "3.7"
